/*BASE
------------------*/
body {
  color: #000;
  font-size: 14px;
  font-family: "Helvetica", "Helvetica Neue", "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* BLOCK
------------------------*/
/*herder*/
.header {
  margin: 70px 0 0;
}
.header__inner {
  margin-left: auto;
  margin-right: auto;
  width: 73.12%;
  max-width: 1170px;
}
.header__global ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.header__ham {
  margin-left: 30px;
  font-weight: bold;
  line-height: 1.7142857143;
  letter-spacing: 0.05em;
}

/*footer*/
.footer {
  padding: 100px 0 60px;
}
.footer__inner {
  margin-left: auto;
  margin-right: auto;
  width: 73.12%;
  max-width: 1170px;
}
.footer__copy {
  display: block;
  font-size: 12px;
  text-align: right;
}

/*unit*/
.unit__sub {
  margin-bottom: 20px;
  font-size: 12px;
  color: #898989;
}
.unit__title {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
  font-size: 38px;
  font-weight: normal;
}
.unit__border:after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #000;
  width: 120px;
}
.unit__catch {
  margin-top: 90px;
}
.unit__text {
  margin-top: 40px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.unit__body {
  width: 59.82%;
}
.unit__jp {
  letter-spacing: 0.05em;
  line-height: 1.7142857143;
}

/*card*/
.card {
  margin-top: 60px;
}
.card__title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
}
.card__catch {
  color: #898989;
}
.card__text {
  margin-top: 30px;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 1.7;
}
.card__body {
  margin-top: 30px;
}
.card__list {
  margin-top: 40px;
}
.card__tag {
  margin-top: 15px;
}

/*btn*/
.btn {
  padding: 5px 11px 6px 11px;
  font-size: 12px;
  color: #fff;
  background-color: #E40065;
  border-radius: 10px;
}

/* INDEX
------------------------*/
/*main*/
.main__visual {
  padding-bottom: 100px;
  padding-top: 100px;
}

/*works*/
.works {
  margin-bottom: 80px;
}
.works__inner {
  margin-left: auto;
  margin-right: auto;
  width: 73.12%;
  max-width: 1170px;
}
.works__item {
  width: 31.62%;
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

/*project*/
.project {
  background-color: #FDF8EB;
  padding-bottom: 100px;
  padding-top: 100px;
}
.project__inner {
  margin-left: auto;
  margin-right: auto;
  width: 73.12%;
  max-width: 1170px;
}
.project__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.project__item {
  width: 47.86%;
}

/*form*/
.form {
  background-color: #000;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
}
.form__title {
  font-size: 32px;
  color: #fff;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1.3125;
}
.form__title {
  font-size: 32px;
  color: #fff;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1.3125;
}
.form__entry {
  height: 40px;
  width: 25.64%;
  border: none;
  background-color: #fff;
}
.form__sending {
  height: 40px;
  width: 8.54%;
  border: none;
  background-color: #E40065;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.7142857143;
  letter-spacing: 0.05;
}
.form__space {
  margin-top: 30px;
}

/*company*/
.company {
  margin-top: 200px;
}
.company__inner {
  margin-left: auto;
  margin-right: auto;
  width: 73.12%;
  max-width: 1170px;
}
.company__lump {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.company__list {
  color: #fff;
}
.company__daichi {
  background: url(../images/bg_project01.jpg) center center/cover no-repeat;
}
.company__imai {
  background: url(../images/bg_project02.jpg) center center/cover no-repeat;
}
.company .unit__border {
  width: 17.9487179487%;
}
.company .card__item {
  margin-top: 60px;
  padding: 150px 80px 160px;
}

/*about*/
.about {
  margin: 60px 0 100px;
}
.about__inner {
  margin-left: auto;
  margin-right: auto;
  width: 73.12%;
  max-width: 1170px;
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.about .card {
  width: 31.62%;
}
.about .card__title {
  margin-top: 30px;
}
.about .card__text {
  margin-top: 40px;
  letter-spacing: 0.05em;
  line-height: 1.7142857143;
  font-size: 14px;
}

/*pagenav*/
.pagenav {
  background-color: #000;
  text-align: center;
  color: #fff;
  padding-bottom: 100px;
  padding-top: 100px;
}
.pagenav__inner {
  margin-left: auto;
  margin-right: auto;
  width: 73.12%;
  max-width: 1170px;
}
.pagenav__title {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1.3125;
}
.pagenav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  justify-content: center;
  margin: 30px;
}
.pagenav__btn {
  padding-left: 20px;
  margin-right: 20px;
  color: #fff;
  border-left: 1px solid #fff;
}
.pagenav__none {
  border: none;
}
/*# sourceMappingURL=style.css.map */